<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">

</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- As a heading -->
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Create a new article</span>
                </nav>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea class="form-control" id="details" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Now</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>