<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">

</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- As a heading -->
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand mb-0 h1">Create a new article</span>
                </nav>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <form method="post" th:action="${isUpdate}?@{/articles/update}:@{/articles/add}" th:object="${article}">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="hidden" th:field="*{id}">
                        <input type="text" class="form-control"th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <textarea class="form-control" rows="5" th:field="*{details}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>